// Color variables

$Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
$Desaturated-Dark-Blue: hsl(214, 17%, 51%);
$Grayish-Blue: hsl(212, 23%, 69%);
$Light-Grayish-Blue: hsl(210, 46%, 95%);
$White: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
}
a {
  text-decoration: none;
}
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 30px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
