@import 'general';

.container {
  position: relative;
  background-color: $Light-Grayish-Blue;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .card {
    position: relative;
    background-color: $White;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 330px;
    border-radius: 10px;
    padding-bottom: 20px;

    .drawers-img {
      position: relative;
      width: 100%;
      height: 200px;
      border-radius: 10px 10px 0 0;
    }
    .text-section {
      padding: 30px;

      .title {
        color: $Very-Dark-Grayish-Blue;
        font-size: 1.01rem;
        font-weight: 700;
        line-height: 23px;
        text-align: left;
        margin-bottom: 20px;
      }
      .main-text {
        color: $Desaturated-Dark-Blue;
        font-weight: 700;
        line-height: 21px;
        text-align: left;
        padding-right: 5px;
      }
    }

    .profile-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 30px 0 30px;

      .avatar {
        border-radius: 50%;
        width: 15%;
      }
      .name {
        color: $Very-Dark-Grayish-Blue;
        font-weight: 700;
      }
      .date {
        color: $Grayish-Blue;
      }

      i {
        background-color: $Light-Grayish-Blue;
        color: $Very-Dark-Grayish-Blue;
        font-size: 1rem;
        padding: 10px;
        border-radius: 50%;
      }
      .share-btn:hover i {
        background-color: $Desaturated-Dark-Blue;
        color: $Light-Grayish-Blue;
      }
    }

    .share-section {
      background-color: $Very-Dark-Grayish-Blue;
      position: absolute;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      top: 450px;
      width: 330px;
      padding: 15px 30px 15px 30px;
      border-radius: 0 0 10px 10px;
      z-index: 10;

      .share {
        color: $Grayish-Blue;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
      .icons-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 40%;

        a {
          color: $Light-Grayish-Blue;
          font-size: 1.3rem;
        }
      }
      .share-btn2 {
        i {
          background-color: $Desaturated-Dark-Blue;
          color: $Light-Grayish-Blue;
          font-size: 1rem;
          border-radius: 50%;
          padding: 8px;
        }
      }
    }
  }
}

@import 'media';
